<a type="button" data-file-name="{file_name}"
   data-last-modified="{last_modified}"
   class="btn btn-secondary btn-block d-flex justify-content-between"
   href="#">
            <span class="index-addition-file-name">
                {file_name}
            </span>
    <div class="index-addition-remove-btn bg-white rounded">
        <i class="fas fa-times text-secondary"></i>
    </div>
</a>