<a href="#" data-file-name="{file_name}" data-last-modified="{last_modified}"
   class="index-photo-addition-item text-white d-inline-flex justify-content-center align-items-center position-relative">
    <img src="{src}" class="index-photo-addition">
    <i class="fas fa-times position-absolute index-photo-remove-btn"></i>
</a>