<a href="#" data-file-name="{0}" data-last-modified="{1}"
   class="index-photo-addition-item text-white d-inline-flex justify-content-center align-items-center position-relative">
    <img src="{2}" class="index-photo-addition">
    <i class="fas fa-times position-absolute index-photo-remove-btn"></i>
</a>