<a class="list-group-item rounded-0 list-group-item-action index-chats-chat-item"
   data-toggle="list" role="tab" href="#" data-user-id="{user_id}" data-chat-id="{chat_id}">
    <div class="index-chats-chat d-flex justify-content-between align-items-center">
        <div class="index-chats-chat-user-info d-flex justify-content-between align-items-center">
            <img src="{avatar}"
                 class="index-chats-chat-user-avatar rounded-circle mr-3">
            <div class="w-100">
                <span class="text-truncate w-100 d-block">
                    {user_name}
                </span>
                <small class="text-truncate w-100 d-block index-chat-last-msg">
                    {last_msg}
                </small>
            </div>
        </div>
<!--        <span class="badge badge-primary badge-pill">-->
<!--        </span>-->
    </div>
</a>