<a type="button" data-file-name="{0}" data-last-modified="{1}"
   class="btn btn-secondary btn-block d-flex justify-content-between"
   href="#">
            <span class="index-addition-file-name">
                {0}
            </span>
    <div class="index-addition-remove-btn bg-white rounded">
        <i class="fas fa-times text-secondary"></i>
    </div>
</a>